<!DOCTYPE html>
<html lang="es">
    <head>
      <title>Lazzar México®</title>
      <meta charset="utf-8" />
      <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
      <meta name="description" content="Conoce la Aplicación Web Lazzar México y obten consultas importantes al alcance de unos clicks." />
      <meta name="google-adsense-account" content="ca-pub-6568433500222973"> <!-- ADS GOOGLE -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Zen+Dots&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
      
      <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NT6CTNHW');</script>
        <!-- End Google Tag Manager -->
        
      {% load static %}
      <link rel="stylesheet" href="./../../static/css/styles.css">
      <link rel="icon" href="./../../static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body class="body">

      <nav class="navbar navbar-expand-lg navbar-dark justify-content-center sticky-top " style="background-color: #0B2265; background: linear-gradient(to bottom, #0B2265, #2586a6); padding: 15px;">
        <div class="container">
            <a href="{% url 'inicio' %}"><img src="./../../static/img/lazzabg.jpg" alt="Lazzar Logo" style="width:115px;" class="rounded-pill"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                      <a href="{% url 'inicio' %}" class="nav-link">
                          <span class="material-icons icon">home</span>
                          <span class="text titulos">Inicio</span>
                      </a>
                  </li>                  
                        {% if user.email %}
                        {% if user.email == 'ogutierrez@lazzar.com.mx' %}
                          <li class="nav-item dropdown"><a href="{% url 'comercial' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="material-icons icon">dynamic_feed</span>
                              <span class="text titulos">Comercial</span>
                            </a>
                              <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                              <li><a class="dropdown-item titulos" href="http://bodegalazzar.ddns.net:3000" target="_blank">Rastrea tu envío Lazzar</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'correos' %}">Pedidos Correo</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'chats' %}">Pedidos Chat</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'facturacion' %}">Facturación</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'status_pedido' %}">Estatus</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                              </ul>
                          </li>
                        {% endif %}
                        {% else %}
                              <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">
                                <span class="material-icons icon">how_to_reg</span>
                                <span class="text titulos">Registro</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">
                                <span class="material-icons icon">login</span>
                                <span class="text titulos">Iniciar Sesión</span>
                              </a>
                        {% endif %}
                        {% if ventas %}
                              <li class="nav-item"><a href="{% url 'status_pedido' %}" class="nav-link">
                                <span class="material-icons icon">dynamic_feed</span>
                                <span class="text titulos">Comercial</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                                <span class="material-icons icon">info</span>
                                <span class="text titulos">Soporte</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                                <span class="material-icons icon">logout</span>
                                <span class="text titulos">Cerrar Sesión</span>
                              </a>
                        {% endif %}
                        {% if mesa_control %}
                              <li class="nav-item"><a href="{% url 'ordenes_e' %}" class="nav-link">
                                  <span class="material-symbols-outlined">inventory_2</span>
                                  <span class="text titulos">Cedicor</span>
                              </a>
                                      <!--<li class="nav-item dropdown"><a href="{% url 'pendientes_folios' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="material-symbols-outlined">inventory_2</span>
                                        <span class="text titulos">Cedicor</span>
                                    </a>
                                            <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                            <li><a class="dropdown-item" href="{% url 'pedidos_index' %}">Producto terminado</a></li> 
                                            <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                            <li><a class="dropdown-item titulos" href="{% url 'ordenes_e' %}">Producción</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                                            </ul>
                                        </li>------>
                                  <li class="nav-item"><a href="{% url 'pendientes_folios' %}" class="nav-link">
                                    <span class="material-icons icon">scanner</span>
                                    <span class="text titulos">Bordados</span>
                                  </a> 
                                <!--<li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <span class="material-symbols-outlined">display_settings</span>
                                      <span class="text titulos">Estatus Interno</span>
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                    <li><a class="dropdown-item titulos" href="{% url 'pedidos-activos' %}">Mesa de control</a></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'programacion' %}">Programación</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'historial_muestras' %}">Muestras</a></li>
                                    </ul>
                                </li>-->
                                <li class="nav-item"><a href="{% url 'pedidos-activos' %}" class="nav-link">
                                    <span class="material-symbols-outlined">display_settings</span>
                                    <span class="text titulos">Estatus Interno</span>
                                </a> 
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="material-symbols-outlined">lab_profile</span>
                                    <span class="text titulos">Reportes</span>
                                  </a>
                                    <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                        <li>
                                            <a class="dropdown-item titulos" href="{% url 'reporte_activos' %}">Pedidos Activos</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item titulos" href="{% url 'reporte_facturados' %}">Pedidos Facturados</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                                  <span class="material-icons icon">info</span>
                                  <span class="text titulos">Soporte</span>
                                </a>
                                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                                  <span class="material-icons icon">logout</span>
                                  <span class="text titulos">Cerrar Sesión</span>
                                </a>
                        {% endif %}
                        {% if acceso_total %}
                        <li class="nav-item"><a href="{% url 'status_pedido' %}" class="nav-link">
                          <span class="material-icons icon">dynamic_feed</span>
                          <span class="text titulos">Comercial</span>
                        </a>
                        <li class="nav-item"><a href="{% url 'ordenes_e' %}" class="nav-link">
                          <span class="material-symbols-outlined">inventory_2</span>
                          <span class="text titulos">Cedicor</span>
                      </a>
                              <!--<li class="nav-item dropdown"><a href="{% url 'pendientes_folios' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">inventory_2</span>
                                <span class="text titulos">Cedicor</span>
                            </a>
                                    <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                    <li><a class="dropdown-item" href="{% url 'pedidos_index' %}">Producto terminado</a></li> 
                                    <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'ordenes_e' %}">Producción</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                                    </ul>
                                </li>------>
                          <li class="nav-item"><a href="{% url 'pendientes_folios' %}" class="nav-link">
                            <span class="material-icons icon">scanner</span>
                            <span class="text titulos">Bordados</span>
                          </a> 
                        <!--<li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="material-symbols-outlined">display_settings</span>
                              <span class="text titulos">Estatus Interno</span>
                            </a>
                            <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                            <li><a class="dropdown-item titulos" href="{% url 'pedidos-activos' %}">Mesa de control</a></li>
                            <li><a class="dropdown-item titulos" href="{% url 'programacion' %}">Programación</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item titulos" href="{% url 'historial_muestras' %}">Muestras</a></li>
                            </ul>
                        </li>-->
                        <li class="nav-item"><a href="{% url 'pedidos-activos' %}" class="nav-link">
                                    <span class="material-symbols-outlined">display_settings</span>
                                    <span class="text titulos">Estatus Interno</span>
                        </a> 
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined">lab_profile</span>
                            <span class="text titulos">Reportes</span>
                          </a>
                            <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                <li>
                                    <a class="dropdown-item titulos" href="{% url 'reporte_activos' %}">Pedidos Activos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item titulos" href="{% url 'reporte_facturados' %}">Pedidos Facturados</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                          <span class="material-icons icon">info</span>
                          <span class="text titulos">Soporte</span>
                        </a>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                          <span class="material-icons icon">logout</span>
                          <span class="text titulos">Cerrar Sesión</span>
                        </a>
                        {% endif %}
                                        <!--<li class="nav-item dropdown">
                                          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-symbols-outlined">conveyor_belt</span>
                                            <span class="text">Producción</span>
                                          </a>
                                                <ul class="dropdown-menu" style="background-color: #9FA8DA;">
                                                  <li><a class="dropdown-item" href="http://bodegalazzar.ddns.net:3000">Rastrea un envío Lazzar</a></li>
                                                  <li><a class="dropdown-item" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                                <li><a class="dropdown-item" href="{% url 'pedidos_produccion' %}">Pedidos</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'nosotros' %}">Ayuda</a></li>
                                                </ul>
                                            </li> -->
                                          <!--<li class="nav-item"><a href="{% url 'calendario' %}" class="nav-link">
                                            <span class="material-symbols-outlined">edit_calendar</span>
                                          <span class="text">Eventos</span>-->      
                    </ul>
                  <form class="d-flex" role="search" action="{% url 'search_pedido' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2 titulos" type="text" placeholder="Encuentra tu pedido..." aria-label="Search" name="encontrar_pedido" onkeyup="mayus(this);">
                    <button class="btn btn-outline-warning titulos" type="submit button">Buscar</button>
                  </form>    
            </div>
        </div>
    </nav>
        <script>
            function mayus(e) {
                  e.value = e.value.toUpperCase();
              }
            </script>
        </script>
      <style> 
        .navbar-nav .nav-link .material-icons,
        .navbar-nav .nav-link .material-symbols-outlined {
        color: #e1bc29;
        font-size: 27px;
        }
        .body {
          background-color: #f8f7f6;
        }
        .icon-above-text {
         align-items: center; 
         text-align: center; 
       }
     
       .icon-above-text .material-icons {
         margin-bottom: 3px; 
       }
       /* .btn {
         display: flex;
         align-items: center;
       } */
       .material-icons-round {
         margin-right: 8px;
       }

       .title {
      margin-top: 0 !important;
      margin-bottom: 0;
      }

      .titulos {
      font-family: 'Montserrat', sans-serif;
      }

      .subtitulos {
      font-family: 'Zen Dots', sans-serif;;
      }
      .animate-on-hover {
          transition: transform 0.3s ease-in-out;
        }

        .animate-on-hover:hover {
          transform: translateY(-10px);
        }
      </style>
{% load static %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<h1 class="text-center display-1 fw-bold title" style="background-color: #2586a6; color: #f8f7f6; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); padding: 5px;" >{{title}}</h1>   
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

{% if user.email %}
<h3 class="text-center display-3 title" style="color: #2586a6; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); background: linear-gradient(to bottom, #2586a6, #f2f2f2); padding: 23px;">Bienvenido, {{request.user.first_name}} {{request.user.last_name}}</h3>
<p class="text-center pd-5 h5 display-4 title" style="color: #F1C40F; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); background-color: #f2f2f2; padding: 16px;">
    {{user.email}}
</p>


    <div class="text-center title" style="background-color: #f2f2f2; padding: 9px;">
        <a href="{% url 'inicio_intranet' %}" class="btn btn-outline-warning subtitulos" target="_blank">IR A INTRANET</a>
    </div>

<script language="JavaScript"> //-----------------------------------------------------------
    function mueveReloj(){
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()
        segundo = momentoActual.getSeconds()
            
        str_segundo = new String (segundo)
        if (str_segundo.length == 1)
            segundo = "0" + segundo
            
        str_minuto = new String (minuto)
        if (str_minuto.length == 1)     
            minuto = "0" + minuto
            
        str_hora = new String (hora)
         if (str_hora.length == 1)
            hora = "0" + hora
            
            horaImprimible = hora + " : " + minuto + " : " + segundo
            
            document.form_reloj.reloj.value = horaImprimible
            
            setTimeout("mueveReloj()",1000)
        }
</script> <!------------------------------------------------------------------------>
<body onload="mueveReloj()" >
    <div class="d-flex justify-content-center alaign-items-center" style="background-color: #f2f2f2; padding: 19px;">
        <form name="form_reloj"><input type="text" name="reloj" size="10"></form>
    </div>
    {% if ventas %}
    <div style="background-color: #f2f2f2; padding: 19px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'status_pedido' %}" type="button" class="btn btn-success subtitulos me-2">Pedidos</a>
        <a href="{% url 'embarque_muestras' %}" type="button" class="btn btn-light subtitulos me-2">Muestras</a>
        <a href="{% url 'embarque' %}" type="button" class="btn btn-danger subtitulos">Envios</a>
    
    </div>
    <div style="background-color: #f2f2f2; padding: 22px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'historial_muestras' %}" type="button" class="btn btn-info subtitulos">Historial Muestras</a>
    </div>
    <div style="background-color: #f2f2f2; padding: 22px; display: flex; justify-content: center; align-items: center;">
        <a href="https://www.lazzarmexico.com/archivos/existencias/Existencias_Lazzar.xlsx" type="button" class="btn btn-dark subtitulos">Existencias</a>
    </div>
    {% endif %}
    {% if acceso_total %}
    <div style="background-color: #f2f2f2; padding: 19px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'pedidos-activos' %}" type="button" class="btn btn-success subtitulos me-2">Pedidos</a>
        <a href="{% url 'info' %}" type="button" class="btn btn-light subtitulos me-2">Dashboard</a>
        <a href="{% url 'embarque' %}" type="button" class="btn btn-danger subtitulos">Envios</a>
    </div>
    <div style="background-color: #f2f2f2; padding: 22px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'programacion' %}" type="button" class="btn btn-dark subtitulos">Programaci&ograve;n</a>
    </div>
    <div style="background-color: #f2f2f2; padding: 22px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'historial_muestras' %}" type="button" class="btn btn-info subtitulos">Muestras</a>
    </div>
    {% endif %}
    {% if mesa_control %}
    <div style="background-color: #f2f2f2; padding: 19px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'pedidos-activos' %}" type="button" class="btn btn-success subtitulos me-2">Pedidos</a>
        <a href="{% url 'info' %}" type="button" class="btn btn-light subtitulos me-2">Dashboard</a>
        <a href="{% url 'historial_muestras' %}" type="button" class="btn btn-danger subtitulos">Muestras</a>
    </div>
    <div style="background-color: #f2f2f2; padding: 22px; display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'programacion' %}" type="button" class="btn btn-dark subtitulos">Programaci&ograve;n</a>
    </div>
    {% endif %}
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT6CTNHW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% if user.email == 'recursoshumanos@lazzar.com.mx' %}
<section class="text-white" style="background: linear-gradient(to bottom, #f2f2f2, #2586a6);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'img/logo_intra.png' %}" alt="Imagen" class="img-fluid" style="height: 250px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h2 class="display-3 fw-bold" style="color: #F1C40F; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);">RH-Track Horarios</h2>  
                    <p class="lead fs-4 title mb-3 titulos fw-bold " style="color: #f8f7f6; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); ">Bienvenido a RH-Track. Gestiona tus horarios de manera eficiente.</p>
                    <a href="{% url 'horarios' %}" class="btn btn-secondary  btn-lg titulos">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
            <p style="color: azure;">
                &copy; 2023 Copyright:
                <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
            </p>
            <br>
            <p style="color: azure;">
                Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
            </p>
        </div>
    </div>
</footer>

{% endif %}
{% if user.email == 'recursoshumanos@lazzarmexico.com' %}
<section class="text-white" style="background: linear-gradient(to bottom, #f2f2f2, #2586a6);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'img/logo_intra.png' %}" alt="Imagen" class="img-fluid" style="height: 250px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h2 class="display-3 fw-bold" style="color: #F1C40F; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);">RH-Track Horarios</h2>  
                    <p class="lead fs-4 title mb-3 titulos fw-bold " style="color: #f8f7f6; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); ">Bienvenido a RH-Track. Gestiona tus horarios de manera eficiente.</p>
                    <a href="{% url 'horarios' %}" class="btn btn-secondary  btn-lg titulos">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
            <p style="color: azure;">
                &copy; 2023 Copyright:
                <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
            </p>
            <br>
            <p style="color: azure;">
                Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
            </p>
        </div>
    </div>
</footer>

{% endif %}
{% if user.email == 'desarrollo@lazzarmexico.com' %}
<section class="text-white" style="background: linear-gradient(to bottom, #f2f2f2, #2586a6);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'img/logo_intra.png' %}" alt="Imagen" class="img-fluid" style="height: 250px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h2 class="display-3 fw-bold" style="color: #F1C40F; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);">RH-Track Horarios</h2>  
                    <p class="lead fs-4 title mb-3 titulos fw-bold " style="color: #f8f7f6; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); ">Bienvenido a RH-Track. Gestiona tus horarios de manera eficiente.</p>
                    <a href="{% url 'horarios' %}" class="btn btn-secondary  btn-lg titulos">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
            <p style="color: azure;">
                &copy; 2023 Copyright:
                <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
            </p>
            <br>
            <p style="color: azure;">
                Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
            </p>
        </div>
    </div>
</footer>
{% endif %}
{% if user.email == 'sistemas@lazzarmexico.com' %}
<section class="text-white" style="background: linear-gradient(to bottom, #f2f2f2, #2586a6);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'img/logo_intra.png' %}" alt="Imagen" class="img-fluid" style="height: 250px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h2 class="display-3 fw-bold" style="color: #F1C40F; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);">RH-Track Horarios</h2>  
                    <p class="lead fs-4 title mb-3 titulos fw-bold " style="color: #f8f7f6; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); ">Bienvenido a RH-Track. Gestiona tus horarios de manera eficiente.</p>
                    <a href="{% url 'horarios' %}" class="btn btn-secondary  btn-lg titulos">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
            <p style="color: azure;">
                &copy; 2023 Copyright:
                <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
            </p>
            <br>
            <p style="color: azure;">
                Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
            </p>
        </div>
    </div>
</footer>
{% endif %}
{% if user.email == 'alexp@lazzar.com.mx' %}
<section class="text-white" style="background: linear-gradient(to bottom, #f2f2f2, #2586a6);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{% static 'img/logo_intra.png' %}" alt="Imagen" class="img-fluid" style="height: 250px;">
            </div>

            <div class="col-md-8">
                <div>
                    <h2 class="display-3 fw-bold" style="color: #F1C40F; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);">RH-Track Horarios</h2>  
                    <p class="lead fs-4 title mb-3 titulos fw-bold " style="color: #f8f7f6; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); ">Bienvenido a RH-Track. Gestiona tus horarios de manera eficiente.</p>
                    <a href="{% url 'horarios' %}" class="btn btn-secondary  btn-lg titulos">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
            <p style="color: azure;">
                &copy; 2023 Copyright:
                <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
            </p>
            <br>
            <p style="color: azure;">
                Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
            </p>
        </div>
    </div>
</footer>
{% endif %}
    
<script src="https://chatbolt.ai/widget/c58644cb-0105-4a65-b91e-2455da5be27d.js"></script>
    
</body>



{% else %}
<!--HERO-->
<section style="background: linear-gradient(to top, #0B2265, #1E5481, #2586a6); color: #ffb612;">
    <div class="container text-center py-5">
        <img class="d-block mx-auto mb-5" src="{% static 'img/icon_logo.jpg' %}" alt="" width="72" height="57">
        <h1 class="display-3 mb-4 fw-bold"><a href="{% url 'inicio_intranet' %}" class="text-reset">
            INTRANET
        </a></h1>
        <p class="display-4 lead fw-bold">&</p>
        <h2 class="display-4 mb-4 fw-bold"><a href="{% url 'login' %}" class="text-reset">
            PORTAL LAZZAR</a>
        </h2>
        <div class="col-lg-8 mx-auto">
            <figcaption class="blockquote-footer lead mb-5 mt-5 titulos" style="color: #fdfefe; font-size: larger; font-style: italic;">
                ¡Bienvenido! Elige <ins><a href="{% url 'login' %}" class="text-reset ">PORTAL LAZZAR:</a></ins> para vendedores y administración interna e <ins><a href="{% url 'inicio_intranet' %}" class="text-reset">INTRANET</a></ins> para información interna y avisos de la empresa.
            </figcaption>            
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg  px-5 gap-3 p-4 fw-bold ">Click para más información...</button>
            </div>
        </div>
    </div>
</section>
<!--FIN HERO-->

<!--HEADER-->
<header class="pb-3" style="background: linear-gradient(to right, #0B2265, #03202f, #03202f, #0B2265); padding: 25px;">
    <span class="display-1 fw-semibold" style="color:  #fdfefe ; "></span>
</header>
<header class="pb-3" style="background: linear-gradient(to right, #0B2265, #03202f, #03202f, #0B2265); padding: 25px;">
    <span class="display-1 fw-semibold" style="color:  #fdfefe ; "></span>
</header>
<!--FIN HEADER-->

<!--OPCIONES CONTENIDO-->
<section id="masInformacion" class="mas_informacion container-fluid" style="background-color: #03202f; padding: 10rem;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 mt-4">
        <div class="h-100 p-5 text-white  rounded-3 animate-on-hover" style="background-color: #0c2340;">
          <h2 class="fw-bold ">
            <a href="{% url 'login' %}" class="text-reset">
                PORTAL LAZZAR:
            </a>
          </h2>
          <p style="color:#808b96; text-align: justify;" >Accede a tu información de pedidos , pendientes , muestras y más de manera rápida y sencilla. Consulta detalles de tus envíos, mesa de control y mantente informado sobre el proceso en el que se encuentra.</p>
          <a href="{% url 'login' %}" class="btn btn-outline-info btn-lg " type="button">Iniciar sesión</a>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="h-100 p-5 text-white  rounded-3 animate-on-hover" style="background-color: #0c2340;">
          <h2 class="fw-bold  ">
            <a href="{% url 'inicio_intranet' %}" class="text-reset">
                INTRANET:
            </a>
          </h2>
          <p style="color:#808b96; text-align: justify;">En esta sección puedes ver las noticias más relevantes de Lazzar y estar al día con temas internos relevantes.</p>
          <a href="{% url 'inicio_intranet' %}" class="btn btn-outline-info btn-lg" type="button">Ver noticias</a>
        </div>
      </div>
      <div class="col-md-12 mt-4 text-center">
        <div class="h-100 p-5 text-white  rounded-3 animate-on-hover" style="background-color: #0c2340;">
          <h2 class="fw-bold  ">
            <a href="{% url 'index-exclusive' %}" class=" text-warning ">
                KIOSKO LAZZAR:
            </a>
          </h2>
          <p class="text-light" style="text-align: justify;">Aqui podrás solicitar tus permisos de manera eficiente y sin complicaciones. Con nuestra plataforma de kiosko lazzar <ins>podrás enviar y gestionar tus solicitudes de permisos de forma transparente</ins>.</p>
          <a href="{% url 'index-exclusive' %}" class="btn btn-outline-warning btn-lg" type="button">Ver más...</a>
        </div>
      </div>
    </div>

    <div class="text-center p-3">
        <figcaption class="blockquote-footer lead mb-5 mt-5 titulos" style="color: #fdfefe; font-size: larger; font-style: italic;">
            Ya tienes tu cuenta? <ins><a href="{% url 'login' %}" class="text-reset ">Inicia sesión:</a></ins><br>o<br><ins><a href="{% url 'register' %}" class="text-reset">Crea una cuenta nueva.</a></ins>
        </figcaption>  
    </div>
</section>
<!--FIN OPCIONES CONTENIDO-->

<!--FOOTER-->
<footer class="text-white text-center p-4" style="background: linear-gradient(to bottom, #0B2265, #0c2340, #0c2340);">
    <p class="mt-3">&copy; 2024 Lazzar México. Innovación en Uniformes.</p>
</footer>
<!--FIN FOOTER-->
<script>
    $(document).ready(function() {
      // Función para manejar el desplazamiento suave al hacer clic en el botón "Más Información"
      $('.btn-primary').on('click', function(event) {
        // Previene el comportamiento predeterminado del enlace
        event.preventDefault();
  
        // Obtiene la posición de la sección "mas_informacion"
        var target = $('.mas_informacion');
        var offset = target.offset().top;
  
        // Desplazamiento suave hacia la sección
        $('html, body').animate({
          scrollTop: offset
        }, 800); // Ajusta la duración según tus preferencias
      });
    });

  </script>
{% endif %}  


</body>
</html>

