{% extends 'layouts/layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

<h1 class="text-center display-4 mt-3" style="color: #566573;">{{title}}</h1>

<main class="container">
    <div class="row">
        <h3 class="text-center display-4 mt-3">Se restablecio tu contraseña con exito!!.</h3>
    </div>
<!-- ---------.....ESTILO ICONOS.....--------- -->
<style>
    .btn {
        display: flex;
        align-items: center;
      }
    
      .material-icons-round {
        margin-right: 15px;
      }
  </style>
<!-- ---------.....ESTILO ICONOS.....--------- -->
</main>

<footer class="bg-light text-center mt-4 fixed-bottom">

    <div class="row">
  
      <section class="mb-4 mt-4">
        © 2023 Copyright:
        <a class="text-dark" href="https://www.lazzarmexico.com/">Lazzarmexico.com</a>
        
      </section>
  
    <div class="text-center p-3 larger-text " style="background-color: rgba(11, 34, 101); font-size: 18px">
        <p style="color: azure;">
            Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
        </p>
    </div>

  </footer>
{% endblock %}