<!DOCTYPE html>
<html lang="es">
    <head>
      <title>Lazzar México®</title>
      <meta charset="utf-8" />
      <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
      <meta name="description" content="Conoce la Aplicación Web Lazzar México y obten consultas importantes al alcance de unos clicks." />
      <meta name="google-adsense-account" content="ca-pub-6568433500222973"> <!-- ADS GOOGLE -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Zen+Dots&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
      
      <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NT6CTNHW');</script>
      <!-- End Google Tag Manager -->
        
      {% load static %}
      <link rel="stylesheet" href="./../../static/css/styles.css">
      <link rel="icon" href="./../../static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body class="body">

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center " style="background-color: #0B2265; background: linear-gradient(to top, #0B2265, #2586a6); padding: 15px;">
        <div class="container">
            <a href="{% url 'inicio' %}"><img src="./../../static/img/lazzabg.jpg" alt="Lazzar Logo" style="width:115px;" class="rounded-pill"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                      <a href="{% url 'inicio' %}" class="nav-link">
                          <span class="material-icons icon">home</span>
                          <span class="text titulos">Inicio</span>
                      </a>
                  </li>                  
                        {% if user.email %}
                        {% if user.email == 'ogutierrez@lazzar.com.mx' %}
                          <li class="nav-item dropdown"><a href="{% url 'comercial' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="material-icons icon">dynamic_feed</span>
                              <span class="text titulos">Comercial</span>
                            </a>
                              <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                              <li><a class="dropdown-item titulos" href="http://bodegalazzar.ddns.net:3000" target="_blank">Rastrea tu envío Lazzar</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'correos' %}">Pedidos Correo</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'chats' %}">Pedidos Chat</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'facturacion' %}">Facturación</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                              <li><a class="dropdown-item titulos" href="{% url 'status_pedido' %}">Estatus</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                              </ul>
                          </li>
                        {% endif %}
                        {% else %}
                              <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">
                                <span class="material-icons icon">how_to_reg</span>
                                <span class="text titulos">Registro</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">
                                <span class="material-icons icon">login</span>
                                <span class="text titulos">Iniciar Sesión</span>
                              </a>
                        {% endif %}
                        {% if ventas %}
                              <li class="nav-item"><a href="{% url 'status_pedido' %}" class="nav-link">
                                <span class="material-icons icon">dynamic_feed</span>
                                <span class="text titulos">Comercial</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                                <span class="material-icons icon">info</span>
                                <span class="text titulos">Soporte</span>
                              </a>
                              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                                <span class="material-icons icon">logout</span>
                                <span class="text titulos">Cerrar Sesión</span>
                              </a>
                        {% endif %}
                        {% if mesa_control %}
                              <li class="nav-item"><a href="{% url 'ordenes_e' %}" class="nav-link">
                                  <span class="material-symbols-outlined">inventory_2</span>
                                  <span class="text titulos">Cedicor</span>
                              </a>
                                      <!--<li class="nav-item dropdown"><a href="{% url 'pendientes_folios' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="material-symbols-outlined">inventory_2</span>
                                        <span class="text titulos">Cedicor</span>
                                    </a>
                                            <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                            <li><a class="dropdown-item" href="{% url 'pedidos_index' %}">Producto terminado</a></li> 
                                            <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                            <li><a class="dropdown-item titulos" href="{% url 'ordenes_e' %}">Producción</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                                            </ul>
                                        </li>------>
                                  <li class="nav-item"><a href="{% url 'pendientes_folios' %}" class="nav-link">
                                    <span class="material-icons icon">scanner</span>
                                    <span class="text titulos">Bordados</span>
                                  </a> 
                                <!--<li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <span class="material-symbols-outlined">display_settings</span>
                                      <span class="text titulos">Estatus Interno</span>
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                    <li><a class="dropdown-item titulos" href="{% url 'pedidos-activos' %}">Mesa de control</a></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'programacion' %}">Programación</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'historial_muestras' %}">Muestras</a></li>
                                    </ul>
                                </li>-->
                                <li class="nav-item"><a href="{% url 'pedidos-activos' %}" class="nav-link">
                                    <span class="material-symbols-outlined">display_settings</span>
                                    <span class="text titulos">Estatus Interno</span>
                                </a> 
                                <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                                  <span class="material-icons icon">info</span>
                                  <span class="text titulos">Soporte</span>
                                </a>
                                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                                  <span class="material-icons icon">logout</span>
                                  <span class="text titulos">Cerrar Sesión</span>
                                </a>
                        {% endif %}
                        {% if acceso_total %}
                        <li class="nav-item"><a href="{% url 'status_pedido' %}" class="nav-link">
                          <span class="material-icons icon">dynamic_feed</span>
                          <span class="text titulos">Comercial</span>
                        </a>
                        <li class="nav-item"><a href="{% url 'ordenes_e' %}" class="nav-link">
                          <span class="material-symbols-outlined">inventory_2</span>
                          <span class="text titulos">Cedicor</span>
                      </a>
                              <!--<li class="nav-item dropdown"><a href="{% url 'pendientes_folios' %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">inventory_2</span>
                                <span class="text titulos">Cedicor</span>
                            </a>
                                    <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                                    <li><a class="dropdown-item" href="{% url 'pedidos_index' %}">Producto terminado</a></li> 
                                    <li><a class="dropdown-item titulos" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'ordenes_e' %}">Producción</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item titulos" href="{% url 'nosotros' %}">Ayuda</a></li>
                                    </ul>
                                </li>------>
                          <li class="nav-item"><a href="{% url 'pendientes_folios' %}" class="nav-link">
                            <span class="material-icons icon">scanner</span>
                            <span class="text titulos">Bordados</span>
                          </a> 
                        <!--<li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="material-symbols-outlined">display_settings</span>
                              <span class="text titulos">Estatus Interno</span>
                            </a>
                            <ul class="dropdown-menu" style="background-color: #a7d0e6;">
                            <li><a class="dropdown-item titulos" href="{% url 'pedidos-activos' %}">Mesa de control</a></li>
                            <li><a class="dropdown-item titulos" href="{% url 'programacion' %}">Programación</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item titulos" href="{% url 'historial_muestras' %}">Muestras</a></li>
                            </ul>
                        </li>-->
                        <li class="nav-item"><a href="{% url 'pedidos-activos' %}" class="nav-link">
                                    <span class="material-symbols-outlined">display_settings</span>
                                    <span class="text titulos">Estatus Interno</span>
                        </a> 
                        <li class="nav-item"><a href="{% url 'listar_tickets' %}" class="nav-link">
                          <span class="material-icons icon">info</span>
                          <span class="text titulos">Soporte</span>
                        </a>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                          <span class="material-icons icon">logout</span>
                          <span class="text titulos">Cerrar Sesión</span>
                        </a>
                        {% endif %}
                                        <!--<li class="nav-item dropdown">
                                          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="material-symbols-outlined">conveyor_belt</span>
                                            <span class="text">Producción</span>
                                          </a>
                                                <ul class="dropdown-menu" style="background-color: #9FA8DA;">
                                                  <li><a class="dropdown-item" href="http://bodegalazzar.ddns.net:3000">Rastrea un envío Lazzar</a></li>
                                                  <li><a class="dropdown-item" href="{% url 'existencias_mesa' %}">Existencias</a></li>
                                                <li><a class="dropdown-item" href="{% url 'pedidos_produccion' %}">Pedidos</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'nosotros' %}">Ayuda</a></li>
                                                </ul>
                                            </li> -->
                                          <!--<li class="nav-item"><a href="{% url 'calendario' %}" class="nav-link">
                                            <span class="material-symbols-outlined">edit_calendar</span>
                                          <span class="text">Eventos</span>-->      
                    </ul>
                  <form class="d-flex" role="search" action="{% url 'search_pedido' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2 titulos" type="text" placeholder="Encuentra tu pedido..." aria-label="Search" name="encontrar_pedido" onkeyup="mayus(this);">
                    <button class="btn btn-outline-warning titulos" type="submit button">Buscar</button>
                  </form>    
            </div>
        </div>
    </nav>
        <script>
            function mayus(e) {
                  e.value = e.value.toUpperCase();
              }
            </script>
        </script>
      <style> 
        .navbar-nav .nav-link .material-icons,
        .navbar-nav .nav-link .material-symbols-outlined {
        color: #e1bc29;
        font-size: 27px;
        }
        .body {
          background-color: #03202f;
        }
        .icon-above-text {
         align-items: center; 
         text-align: center; 
       }
     
       .icon-above-text .material-icons {
         margin-bottom: 3px; 
       }
       /* .btn {
         display: flex;
         align-items: center;
       } */
       .material-icons-round {
         margin-right: 8px;
       }

       .title {
      margin-top: 0 !important;
      margin-bottom: 0;
      }

      .titulos {
      font-family: 'Montserrat', sans-serif;
      }

      .subtitulos {
      font-family: 'Zen Dots', sans-serif;;
      }
      .btn {
        display: flex;
        align-items: center;
      }
    
      .material-icons-round {
        margin-right: 15px;
      }
      .animate-on-hover {
          transition: transform 0.3s ease-in-out;
        }

        .animate-on-hover:hover {
          transform: translateY(-11px);
        }
      </style>


<main class="container-fluid" style="background: linear-gradient(to bottom, #0B2265, #03202f, #03202f); box-shadow:0 10px 20px rgba(0, 0, 0, 0.7);">


    <div class="p-4 container-sm ">
        <div class="alert alert-info alert-dismissible fade show text-center container-sm col-md-6 animate-on-hover" role="alert" style="display: flex; justify-content: center; background-color: #0c2340; border: 7px solid #03202f; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <p style="color: #00a9db; font-size: 16px;">
               <strong>¡Bienvenido a Lazzar Intranet!</strong> 
                <br>
                <br>
                <strong>Si eres</strong> parte de nuestro <strong>equipo de <ins>ventas</ins></strong>, por favor <strong><ins>elige un nombre de usuario</ins></strong>.
                <br>
                <br>
                <strong>Si eres</strong> un <strong><ins>Empleado Lazzar</ins></strong>, ingresa tu <strong><ins># Num. de empleado como nombre de usuario</ins></strong>.
            </p>
            <button type="button" class="btn-close btn-lg " data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 offset-md-4">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="card card-body text-center mt-5 mb-5 p-5 animate-on-hover" style="border:solid 7px #002d72; border-radius: 30px; box-shadow:0 10px 20px rgba(0, 0, 0, 0.7); background: linear-gradient(to left,#eaf2f8 , #d4e6f1,#85c1e9);">
            {{register_form.errors}} <!-- Errores Formulario-->
            {% csrf_token %} <!-- Seguridad HTTPS -->
            <h1 class="fs-1 fw-bold mb-5" style="color: #2980B9;">Crear Nueva Cuenta</h1>

            <div class="mb-3 mt-3">
                <!-- <p style="color: #7D6608; font-weight: bold;">Si formas parte de nuestro equipo de ventas, por favor elige un nombre de usuario.</p>
                <p style="color: #7D6608; font-weight: bold;">Si eres empleado de Lazzar, ingresa tu número de empleado como nombre de usuario.</p> -->
                <label for="formGroupExampleInput" class="form-label " style="color: #2980B9; font-weight: bold;">Nombre de usuario</label>
                <input type="text" class="form-control " id="id_username" placeholder="Usuario" name="username" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label " style="color: #2980B9; font-weight: bold;">Dirección de correo electronico</label>
                <input type="email" class="form-control " id="id_email" placeholder="Email" name="email" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label " style="color: #2980B9; font-weight: bold;">Nombre</label>
                <input type="text" class="form-control " id="id_first_name" placeholder="Nombre" name="first_name" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label " style="color: #2980B9; font-weight: bold;">Apellidos</label>
                <input type="text" class="form-control " id="id_last_name" placeholder="Apellidos" name="last_name" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label " style="color: #2980B9; font-weight: bold;">Contraseña</label>
                <input type="password" class="form-control " id="id_password1" placeholder="Contraseña" name="password1" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label " style="color: #2980B9; font-weight: bold;">Contraseña (Confirmación)</label>
                <input type="password" class="form-control " id="id_password2" placeholder="Contraseña" name="password2" style="color: #7D6608; font-weight: bold; border:solid 3px #D4E6F1; border-radius: 25px; ">
            </div>
                <hr>
                <button type="submit button" class="btn btn-primary text-light   pd-4 justify-content-center " style="border-radius: 25px;">
                    <span class="material-symbols-rounded">how_to_reg</span>
                    Registrarse
                  </button>
        </form>

        
        
        </div>
    </div>



    <!--FOOTER-->
<footer class="text-white text-center p-3" style="background: linear-gradient(to top, #0B2265, #0c2340, #0c2340);">
    <p class="mt-3">&copy; 2024 Lazzar México. Innovación en Uniformes.</p>
</footer>
<!--FIN FOOTER-->
</main>


</body>
</html>