{% extends 'layouts/layout.html' %}
{% block title %}
  Listado de Pedidos
{% endblock %}
{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<h1 class="text-center display-1 fw-bold title" style="background-color: #2586a6; color: #f8f7f6; font-weight: bold; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); padding: 5px;">Bordados</h1>   
<p class="display-4 text-left fw-bold text-center title subtitulos" style="color: #fccc0a; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); padding: 15px; background: linear-gradient(to bottom, #2586a6, #f8f7f6);"
>Buscar pedido</p>

<main class="container-fluid">

<section class="container-fluid" style="display: flex; justify-content: center; align-items: center; padding:25px;">
  <ul class="nav nav-tabs flex-column flex-sm-row mx-auto" id="ex-with-icons" role="tablist">
    <li class="nav-item" role="presentation">
         <a class="nav-link " aria-current="page" href="http://bodegalazzar.ddns.net:3000/envios" style="color: #6c8ead; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size:16px;">
           <div class="d-flex flex-column icon-above-text">
             <span class="material-symbols-outlined" style="font-size:35px;">local_shipping</span>
             Rastreo Lazzar
           </div>
         </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" aria-current="page" href="{% url 'pendientes_folios' %}" style="color: #16A085; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size: 16px;">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">hourglass_bottom</span>
          Pendientes
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'entregados_folios' %}" style="color: #3498DB; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size: 16px;">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">verified</span>
          Entregados
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'dashboard_Bord' %}" style="color: #F1C40F; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.07); font-size: 16px">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">donut_small</span>
          Dashboard
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'buscar_ventas' %}" style="color: #E67E22; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size: 16px;">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">search</span>
          Buscar
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'pedidos_dia' %}" style="color: #82E0AA; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08); font-size: 16px;">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">today</span>
          Pedidos x día
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'historial' %}" style="color: #76448A; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size: 16px;">
        <div class="d-flex flex-column icon-above-text">
          <span class="material-symbols-rounded" style="font-size: 35px;">deployed_code_history</span>
          Productividad
        </div>
      </a>
    </li>
    <li class="nav-item">
          <a class="nav-link " download="Existencias.xlsx" aria-current="page" href="https://www.lazzarmexico.com/archivos/existencias/Existencias_Lazzar.xlsx" style="color: #00a9db; font-weight: bold; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); font-size: 16px;"> 
            <div class="d-flex flex-column icon-above-text">
              <span class="material-symbols-rounded" style="font-size: 35px;">download</span>
              Existencias
            </div>
          </a>
    </li>
  </ul>
</section>
<!-- ---------.....ESTILO ICONOS.....--------- -->
      <style>
        .icon-above-text {
          align-items: center; 
          text-align: center; 
        }
      
        .icon-above-text .material-icons {
          margin-bottom: 3px; 
        }
        .btn {
            display: flex;
            align-items: center;
          }
        
          .material-icons-round {
            margin-right: 5px;
          }
      </style>
<!-- ---------.....ESTILO ICONOS.....--------- -->
  <div class="row justify-content-center mb-5"> <!--Se reemplazo box -->
    <div class="col-md-4 col-lg-4 mt-3 text-center mb-1"style="border:solid 9px #F5B7B1; padding: 15px; border-radius: 30px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);"> 

      <form action="{% url 'buscar_ventas' %}" method="POST" class="card card-body text-center mt-5"style="border:solid 6px #EAECEE; border-radius: 30px;">
        {% csrf_token %}
      
        <label for="start_pedido"style="color: #808B96;">Orden:</label>
        <input type="text" name="search_pedido" placeholder="# de orden:" style="border:solid 3px #ABB2B9; padding: 5px; border-radius: 15px; color: #ABB2B9;"/>

        <hr>

        <button type="submit button" class="btn btn-danger pd-3 justify-content-center"style="border-radius: 15px;">
          <span class="material-symbols-rounded">manage_search</span>
          BUSCAR
        </button>

      </form>
    </div>
  </div>

  <div class="table-responsive" id="datatable">
    <div class="row"> <!--Se reemplazo box -->
        <div class="col-md-12 col-lg-12 mt-1"> 
        {% if leyenda %}
        </br>
        <table class="table table-striped table-danger table-hover table-responsive table-borderless" id="miTabla" style="border:solid 10px #D98880;">
            <thead>
                <tr class="table-danger">
                    <th class="text-center" style="font-weight: bolder;">PEDIDO</th>
                    <th class="text-center" style="font-weight: bolder;">FECHA</th>
                    <th class="text-center" style="font-weight: bolder;">ORDEN</th>
                    <th class="text-center" style="font-weight: bolder;">PIEZAS</th>
                    <th class="text-center" style="font-weight: bolder;">ENTREGADO</th>
                    <th class="text-center" style="font-weight: bolder;">PROVEEDOR</th>
                    <th class="text-center" style="font-weight: bolder;">FECHA DE SURTIDO</th>
                    <th class="text-center" style="font-weight: bolder;">RECEPCIÓN DE LA ORDEN</th>
                    <th class="text-center" style="font-weight: bolder;">FECHA DE ENTREGA</th>
                    <th class="text-center" style="font-weight: bolder;">SURTIDO</th>
                    <th class="text-center" style="font-weight: bolder;">ESTATUS</th>
                    <th class="text-center" style="font-weight: bolder;">RECIBIÓ</th>
                    <th class="text-center" style="font-weight: bolder;">DESHEBRÓ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fila in resultado %}
                    <tr>
                        <td class="text-center">{{ fila.0 }}</td>
                        <td class="text-center">{{ fila.1 | date:"d/m/y" }}</td>
                        <td class="text-center" style="font-weight: bold;">{{ fila.2 }}</td>
                        <td class="text-center">{{ fila.11|floatformat:0 }}</td>
                        <td class="text-center">{{ fila.12|floatformat:0 }}</td>
                        <td class="text-center">{{ fila.3 }}</td>
                        <td class="text-center">{{ fila.4|date:"d/m/y" }}</td>

                        {% if fila.5|date:"Y-m-d" == "1900-12-31" %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.5|date:"d/m/y" }}</td>
                        {% endif %}

                        {% if fila.6|date:"Y-m-d" == "1900-12-31" %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.6|date:"d/m/y" }}</td>
                        {% endif %}
                        
                        {% if fila.7 is none %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.7 }}</td>
                        {% endif %}

                        {% if fila.8 is none %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.8 }}</td>
                        {% endif %}

                        {% if fila.9 is none %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.9 }}</td>
                        {% endif %}

                        {% if fila.10 is none %}
                            <td></td>
                        {% else %}
                            <td class="text-center">{{ fila.10 }}</td>
                        {% endif %}
                        <td>
                          <form id="myForm" method="POST" action="{% url 'detalle_bordados' %}">
                            {% csrf_token %}
                            <input type="hidden" name="variable" value="{{ fila.2 }}">
                          <button type="submit" class="btn btn-danger" style="border-radius: 25px;">
                            <span class="material-symbols-rounded">data_info_alert</span>
                              Detalle
                          </button>
                          </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script>
            $(document).ready(function() {
             $('#miTabla').DataTable({
            });
            });
        </script>
    </div>

</main>

<footer class=" text-center mt-4 " style="background-color: #f2f2f2;">
  <div class="row">

    <section style="padding: 23px;" class="titulos">
      © 2023 Copyright:
      <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
      
    </section>

  <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
      <p style="color: azure;">
          Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
      </p>
  </div>
</footer>
{% endif %}
{% endblock %}