{% extends 'layouts/menuc.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<h1 class="text-center display-4 mt-3 fw-bold" style="background-color: #C5CAE9; color: #FBFCFC; font-weight: bold;">Existenciasssssss</h1>   
<hr> <!--................................................-->

<main class="container">
  <div class="row justify-content-center"> <!-- Se Reemplazo box -->
asfdasd

<style>
  .btn {
    display: flex;
    align-items: center;
  }
      
  .material-icons-round {
    margin-right: 5px;
  }
</style>

<div class="form-outline mb-4 mt-5 text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="d-flex justify-content-center">
    <a download="Existencias.xlsx" href="https://www.lazzarmexico.com/archivos/existencias/Existencias_Lazzar.xlsx" class="btn btn-warning btn-lg"> 
      <i class="fa fa-download"></i> Descargar Existencias</a>
  </div>
  <blockquote class="blockquote">
      <footer class="blockquote-footer text-center mt-5"><p>- NOTA: Podrás descargar el archivo actualizado del stock asdasdasd.</p>
  </blockquote>
</div>
  <hr><!--........................................-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <script>

  </script>
  
</main>asdasdas

<footer class=" text-center mt-4 fixed-bottom" style="background-color: #f2f2f2;">
  <div class="row">

    <section style="padding: 23px;" class="titulos">
      © 2023 Copyright:
      <a style="color: #B7950B; text-decoration:underline;" href="https://www.lazzarmexico.com/" class="titulos">Lazzarmexico.com</a>
      
    </section>

  <div class="text-center titulos p-4 larger-text" style="background-color: rgba(11, 34, 101); font-size: 18px; background: linear-gradient(to top, #0B2265, #2586a6);">
      <p style="color: azure;">
          Respeto, Honestidad, Confianza, Responsabilidad, Lealtad
      </p>
  </div>
</footer>
{% endblock %}