{% extends 'layouts/menu_intranet.html' %}
{% load static %}
{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<section class="container mt-5" style="text-align: justify; font-size: 18px;">
    <div class="mb-3" style="border:solid 3px #ffb612; padding: 25px; border-radius: 30px; box-shadow:0 10px 20px rgba(0, 0, 0, 0.6);">
        <h2 style="text-align: center;">AVISO DE PRIVACIDAD PARA EMPLEADOS Y CANDIDATOS</h2><br>

        <p><b>Lazzar, S.A. de C.V.</b> (Lazzar), respeta su privacidad y por lo tanto, se compromete a proteger y mantener como confidenciales los Datos Personales que usted 
        (el Titular) nos proporcione; por lo que en cumplimiento a la Ley Federal para la Protección de Datos Personales en Posesión de Particulares (la Ley),ponemos a 
        su disposición el siguiente Aviso de Privacidad:</p>
 
         <p><b>Responsable del tratamiento de datos personales</b></p>
 
         <p>Lazzar es la persona moral, que de acuerdo con la Ley se entiende como Responsable, toda vez que es quien decide sobre el tratamiento de los datos personales que
            le son recabados a usted, como titular de los mismos. Tratar sus datos personales de manera legítima y en apego a la Ley es un tema prioritario para la Responsable.
            Este Aviso de Privacidad complementa cualesquiera otros avisos de privacidad simplificados o cortos que la Responsable haya puesto a su disposición y resulta supletorio
            en todo aquello que expresamente no refieran tales avisos.</p>

         <b><p>Domicilio de la Responsable</p></b>
 
         <p>Mar Egeo 1514, Colonia Country Club, CP 44610, Guadalajara, Jalisco, México.</p>
 
         <b><p>Datos personales que recaba la Responsable</p></b>

        <p>Los datos personales que usted libre y voluntariamente proporciona a Lazzar, de manera directa, indirecta o por diversos medios, podrán incluir de manera
            enunciativa más no limitativa: nombre completo, domicilio, teléfono y medios de contacto electrónico, fecha y lugar de nacimiento, grado escolar, nombre 
            de instituciones y periodos de estudio, datos de sus familiares directos o de terceros relacionados, datos de sus dependientes económicos, antecedentes 
            laborales, referencias personales y bancarias, documentos oficiales (actas de nacimiento, títulos escolares, RFC, IFE, CURP, No. Afiliación al IMSS, entre otros), 
            fotografía e inclusive datos personales sensibles, como sexo, edad, estado civil, certificados médicos, estudios socioeconómicos, exámenes psicométricos y 
            antecedentes penales.</p>
 
        <p><b>Finalidades del tratamiento de los datos personales</b></p>

         <p>La Responsable empleará los datos recabados con la única finalidad de evaluación, selección, integración de su expediente laboral, relación de trabajo, 
            retroalimentación, desempeño, productividad y seguimiento de sus capacidades laborales y/o calificación para el puesto.</p>

        <p><b>Transferencia de los datos personales recabados por la Responsable</b></p>

        <p>Lazzar podrá contratar a uno o varios terceros como proveedores de servicios para administrar los datos personales que se recaban, por lo que podrá incluso
        transferir esta información a dicho(s) tercero(s), sin fines comerciales sino únicamente en cumplimiento a la prestación de los servicios contratados, obligándose
        dichos terceros a tratar los datos personales de conformidad con este Aviso de Privacidad. Por lo anterior, al proporcionar sus datos personales a la Responsable,
        acepta que realice dicha transferencia únicamente para el fin señalado en este apartado. A efecto de cumplimentar requerimientos legales o solicitudes de autoridades,
        así como para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, se podrá realizar la transferencia de los datos personales del Titular, en 
        estricto apego al contenido del Capítulo V, artículos 36 y 37 de la Ley.</p>

        <p><b>Medidas de seguridad y protección de sus datos personales</b></p>

        <p>La Responsable cuenta con medidas de seguridad físicas, electrónicas y técnicas implementadas para la protección de sus datos personales; que son cuando menos, 
        iguales a las empleadas para asegurar y resguardar su propia información. Los datos personales de los candidatos que no se haya resuelto ocupar una vacante, 
        serán eliminados inmediatamente y no serán conservados en ninguna base de datos de la Responsable.
        </p>

        <p><b>Opciones y medios para ejercer los Derechos de Acceso, Rectificación, Cancelación y Oposición (Derechos ARCO)</b></p>

        <p>Para el ejercicio de sus derechos ARCO, usted podrá enviar un correo electrónico al Jefe de Recursos Humanos jbarajas@lazzar.com.mx, preferentemente con copia 
        de conocimiento a la Directora Administrativa ycuriel@lazzarmexico.com, indicando por lo menos: nombre, domicilio, medio de comunicación para comunicarle la 
        respuesta recaída a su solicitud; asimismo, deberá acompañar a su solicitud los documentos que acrediten su identidad o en su caso, su representación legal, 
        y la descripción clara y precisa de los datos personales respecto de los cuales solicita se ejercite algún derecho ARCO. Finalmente, deberá precisar de igual 
        forma, cualquier elemento que facilite la localización de los datos personales por los que realiza la solicitud.</p>

        <p><b>Procedimiento para que el titular (en su caso) revoque su consentimiento para el tratamiento de sus datos personales</b></p>

        <p>Usted puede revocar en cualquier momento el consentimiento que ha otorgado a la Responsable para el tratamiento de sus datos personales. 
        Es importante tomar en cuenta que no en todos los casos se podrá atender a su solicitud o concluir el uso de forma inmediata, ya que es posible que, 
        por alguna obligación legal, se requiera seguir tratando sus datos personales. Debe considerar que la revocación de su consentimiento podrá impedir 
        que se cumpla con la finalidad numerada en el punto 4 del presente Aviso. Para revocar su consentimiento, es necesario que contacte al Jefe de Recursos Humanos, 
        en la dirección electrónica indicada en el punto 7 del presente Aviso de Privacidad, a fin de conocer el procedimiento que deba seguirse para tal fin.</p>

        <p><b>Modificaciones al Aviso de Privacidad</b></p>

        <p>El presente Aviso de Privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales o de las propias necesidades 
        de la Responsable, por lo que ésta se reserva el derecho de efectuar en cualquier momento las modificaciones o actualizaciones que sean necesarias.</p>

        <p><b>Derecho de promover los procedimientos de protección de derechos y de verificación</b></p>

        <p>Cualquier queja o información adicional respecto al tratamiento de sus datos personales o duda en relación con la Ley, podrá dirigirla al Instituto Nacional de Transparencia,
        Acceso a la Información y Protección de Datos Personales (INAI).</p>

        <p><b>Consentimiento</b></p>

        <p>Con su firma al calce manifiesta que conoce el contenido de este Aviso de Privacidad y que consiente al tratamiento de sus Datos Personales en los términos y condiciones 
        que se señalan en este Aviso. Dicho consentimiento lo otorga también para el tratamiento de sus Datos Personales sensibles y para las transferencias de sus Datos Personales, 
        de acuerdo a lo antes especificado.</p>
 </div>
 </section>

 <!-- Footer -->
<footer class="text-center text-white" style="background-color: #0B2265;">
<div class="text-center p-3" style="background-color: #0B2265;">         
<a class="text-white" href="https://www.lazzarmexico.com/?gad_source=1&gclid=CjwKCAiA0syqBhBxEiwAeNx9N9qr5NZiQtMzemAF1oxE1KCO3GMdkljiwfnZrojzigeE9L6HeAw61BoCPOMQAvD_BwE" style="font-size: 24px; text-decoration: none;"> ©2024 lazzarmexico.com</a> 
<a class="text-white" href="{% url 'nosotros' %}" style="text-decoration: none;">- con tecnologia de Lazzar IT</a>
</div>
</footer>


{% endblock %}