{% extends 'layouts/menu_intranet.html' %}
{% load static %}
{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<body>
    <section>
      <!-- //slider// -->
    
        <div>
            <h1 style="text-align: center; color: white; font-size: 48px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                <b>CÓDIGO DE ÉTICA</b>
            </h1>
        </div>
    </section>
    

<div class="mt-5" style="text-align: center;">
    <iframe src="https://drive.google.com/file/d/1hiZcct-CRZZqi9xXEL9mVh-rSgIcTEvx/preview" width="800" height="1020" frameborder="0"></iframe>
</div>



 <!-- Footer -->
 <footer class="text-center text-white" style="background-color: #0B2265;">
    <!-- Grid container 
    <div class="container p-4">
    
    <section class="">
    
    <div class="row">
    
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Contacta con tus compañeros</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="{% url 'directorio' %}" class="text-white" style="font-size: 20px;">Directorio Lazzar</a>
    </li>
    </ul>
    </div>
    
    
    
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <a href="{% url 'recursoshumanos' %}"><h5 class="text-uppercase" style="color: white;">Recursos Humanos</h5></a>
    </div>
    
    
    
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Recursos para colaboradores</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="#!" class="text-white" style="font-size: 20px;">Mi Bono</a>
    </li>
    </ul>
    </div>
    
    
    
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Portales Lazzar</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="https://portal-lazzar.com/inicio" class="text-white" style="font-size: 20px;">Portal Lazzar</a>
    </li>
    </ul>
    </div>
          
   
    </div>
   

    </div>-->
    
    
    
    <div class="text-center p-3" style="background-color: #0B2265;">
       
    <a class="text-white" href="https://www.lazzarmexico.com/?gad_source=1&gclid=CjwKCAiA0syqBhBxEiwAeNx9N9qr5NZiQtMzemAF1oxE1KCO3GMdkljiwfnZrojzigeE9L6HeAw61BoCPOMQAvD_BwE" style="font-size: 24px; text-decoration: none;"> ©2024 lazzarmexico.com</a> 
    <a class="text-white" href="{% url 'nosotros' %}" style="text-decoration: none;">- con tecnologia de Lazzar IT</a>
    </div>
    </footer>

{% endblock %}