{% extends 'layouts/menu_intranet.html' %}
{% load static %}
{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>
													
<body>
    <section style="background-color: aliceblue;">
    <div>
    <h1 style="text-align: center; color: white; font-size: 60px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
    <b>CONTRIBUCIONES LAZZAR</b>
    </h1>
    </div>
    </section>


<section class="container mt-5">
  <div style="display: flex;">
    <div   style="height: 400px; width: 600px;"><p class="fs-4" style="text-align: justify;">La Organización Mundial de la Salud (OMS) y otras instituciones de salud pública realizan vigilancia epidemiológica para monitorear la propagación de la influenza y sus cepas, así como para evaluar la carga de enfermedad asociada.
     <br>
      En esta campaña de vacunación contra la Influenza y Tétanos, participaron un total de 77 personas lo cual nos representa un 46.95% de los colaboradores activos hasta el día 23 de Noviembre del 2023.</p></div>
    <div class="me-2"><iframe src="https://docs.google.com/spreadsheets/u/0/d/e/2CAIWO3eli4Gph-mOWX_9FnL2qDbWnO-A62yo_NPGA0ixLdOLD7f4JZ4yyOa2RF-U55kcGYx7yK7rRLudjug/gviz/chartiframe?oid=1230593402&resourcekey" width="600" height="400" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
  </div>
</section>

<!-- Gallery -->
<section>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'img/donacion 1.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="{% static 'img/donacion 2.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'img/donacion 3.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <iframe src="https://drive.google.com/file/d/17_AH8mvUHK0_NzEgvaXMWumAaFlMVKE7/preview"
      class="w-100 shadow-1-strong rounded mb-2"
      alt="Boat on Calm Water" style="height: 900px;"></iframe>

      <video width="620" height="400" controls>
        <source src="{% static 'video/video tarahumara2.mp4' %}" type="video/mp4" class="w-100 shadow-1-strong rounded mb-2">
        Tu navegador no soporta el tag de video.
    </video>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'img/banco de alimentos.jpeg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="{% static 'img/cruz roja.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />

    <video width="620" height="400" controls>
      <source src="{% static 'video/video tarahumara.mp4' %}" type="video/mp4" class="w-100 shadow-1-strong rounded mb-2">
      Tu navegador no soporta el tag de video.
  </video>
  </div>
</div>
<!-- Gallery -->

</section>








     <!-- Footer -->
     <footer class="text-center text-white" style="background-color: #0B2265;">
      <!-- Grid container 
      <div class="container p-4">
      
      <section class="">
      
      <div class="row">
      
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Contacta con tus compañeros</h5>
      
      <ul class="list-unstyled mb-0">
      <li>
      <a href="{% url 'directorio' %}" class="text-white" style="font-size: 20px;">Directorio Lazzar</a>
      </li>
      </ul>
      </div>
      
      
      
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <a href="{% url 'recursoshumanos' %}"><h5 class="text-uppercase" style="color: white;">Recursos Humanos</h5></a>
      </div>
      
      
      
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Recursos para colaboradores</h5>
      
      <ul class="list-unstyled mb-0">
      <li>
      <a href="#!" class="text-white" style="font-size: 20px;">Mi Bono</a>
      </li>
      </ul>
      </div>
      
      
      
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Portales Lazzar</h5>
      
      <ul class="list-unstyled mb-0">
      <li>
      <a href="https://portal-lazzar.com/inicio" class="text-white" style="font-size: 20px;">Portal Lazzar</a>
      </li>
      </ul>
      </div>
            
     
      </div>
     
  
      </div>-->
      
      
      
      <div class="text-center p-3" style="background-color: #0B2265;">
         
      <a class="text-white" href="https://www.lazzarmexico.com/?gad_source=1&gclid=CjwKCAiA0syqBhBxEiwAeNx9N9qr5NZiQtMzemAF1oxE1KCO3GMdkljiwfnZrojzigeE9L6HeAw61BoCPOMQAvD_BwE" style="font-size: 24px; text-decoration: none;"> ©2024 lazzarmexico.com</a> 
      <a class="text-white" href="{% url 'nosotros' %}" style="text-decoration: none;">- con tecnologia de Lazzar IT</a>
      </div>
      </footer>
{% endblock %}