{% extends 'layouts/menu_intranet.html' %}
{% load static %}
{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

<section class="container mb-2" style="text-align: center; font-size: 24px;">

<div id="dp" class="container-fluid" style="text-align: center;">
<img src="{% static 'img/descripciondepuestos.gif' %}">
</div>

<b>
    <div style="display: inline-block; margin-right: 10px;">
    <a href="{% url 'dcedicor' %}" style=" text-decoration: none; color: #5E5E5E;">
    <div class="d-flex flex-column">
    <span class="material-symbols-outlined">apparel</span>
    CEDICOR</div></a>
    </div>
        
    <div style="display: inline-block; margin-right: 10px; ">
    <a href="{% url 'dcompras' %}" style=" text-decoration: none; color: #C60202;">
    <div class="d-flex flex-column">
    <span class="material-symbols-outlined">shopping_cart</span>
    COMPRAS</div></a>
    </div>
    </b>
</section>















<!-- Footer -->
<footer class="text-center text-white" style="background-color: #0B2265;">
    <!-- Grid container -->
    <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
    <!--Grid row-->
    <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Contacta con tus compañeros</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="{% url 'directorio' %}" class="text-white" style="font-size: 20px;">Directorio Lazzar</a>
    </li>
    </ul>
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <a href="{% url 'recursoshumanos' %}"><h5 class="text-uppercase" style="color: white;">Recursos Humanos</h5></a>
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Recursos para colaboradores</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="#!" class="text-white" style="font-size: 20px;">Mi Bono</a>
    </li>
    </ul>
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Portales Lazzar</h5>
    
    <ul class="list-unstyled mb-0">
    <li>
    <a href="https://portal-lazzar.com/inicio" class="text-white" style="font-size: 20px;">Portal Lazzar</a>
    </li>
    </ul>
    </div>
          
    <!--Grid column-->
    </div>
    <!--Grid row-->

    <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #0B2265;">
       
    <a class="text-white" href="https://www.lazzarmexico.com/?gad_source=1&gclid=CjwKCAiA0syqBhBxEiwAeNx9N9qr5NZiQtMzemAF1oxE1KCO3GMdkljiwfnZrojzigeE9L6HeAw61BoCPOMQAvD_BwE" style="font-size: 24px;"> ©2024 lazzarmexico.com</a>
    </div>
    </footer>
{% endblock %}