{% extends 'layouts/menu_intranet.html' %}
{% load static %}
{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SP1MJ3P87D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SP1MJ3P87D');
</script>

{% csrf_token %}

<body>
    <section>
    <div>
    <h1 class="display-1" style="text-align: center; color: white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); padding: 15px;">NOSOTROS</h1>
    </div>
    </section>
    <!-- //reloj// -->
    <b><p style="font-size: 2em; text-align: center; color: #ffb612;"><span id="fecha"></span></p></b>
    <section class="container mb-5 mt-5" >
    <div style="border:solid 3px #ffb612; padding: 25px; border-radius: 30px; box-shadow:0 10px 20px rgba(0, 0, 0, 0.6);">
    <div class="container" style="text-align: center; color: #0b2265;"><b class="display-3" style="font-weight: 500;">Intranet</b><span style="margin-right: 25px;"></span><b class="display-3" style="font-weight: 500; color: #ffb612;">Lazzar</b></div></br>
    <div class="display-5" style="font-size: 25px; font-style: italic;">En intranet LAZZAR encontraremos un aviso en la parte superior de todas las páginas en cual nos llevara directo a la pagina donde estará una trivia diferente cada semana, estas trivias te ayudan a sumar puntos.</div>
    <br>
    <div class="display-6" style="font-size: 25px; font-style: italic;">Del lado izquierdo, tenemos nuestro menú donde encontraremos los accesos a:</div></br>
    <hr class="mt-1 mb-4">
    <div class="display-1" style="font-size: 21px; ">
        <li style="font-size: 22px;"><b style="color: #0b2265; font-weight: bold;">ADMINISTRACIÓN:</b> Donde encontrarás las Descripciones de Puesto de CEDICOR y Compras. </li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">CONTRIBUCIONES LAZZAR:</b> Esta sección almacena datos como lo serán los programas que lleva acabo lazzar para ayudar a fundaciones o causas. </li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">CEDICOR:</b> En el podrás encontrar Producción, Diseño, Ingeniería de Producto, Trazo y Calidad.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">COMPRAS:</b> Encontrarás Compras Internacionales, Compras de Materia Prima y Compras Terminado junto con los Anexos.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">ENTRETENIMIENTO:</b> Sección en la que se ponen datos sobre el mes y algunos chistes.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">FRASES CELEBRES LAZZAR:</b> En esta sección, subimos frases de nuestros colaboradores.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">TAQUILLA LAZZAR:</b> En este link podrás realizar el pedido de tus boletos y combos para el cine. Este beneficio será descontado vía nomina a dos quincenas. </li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">ORGANIZACIÒN:</b> Misión y Visión de LAZZAR, los valores de LAZZAR o el famoso "HO, CORRELE", el Código de Ética, Reglamento Interno y los organigramas.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">MEJORA CONTINUA:</b> En el encontraras la Política de Documentación y Metodología 5´s.</li>
    </br>
        <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">RECURSOS HUMANOS:</b> Tendras acceso directo a un sistema de atención para colaboradores, buzón de sugerencias anónimas, formulario de faltas o retardos (solo jefes de área), un formato de vacaciones, formato de incapacidades, solicitud de uniformes y un apartado para conocer tú nomina y solicitud de tú firma Lazzar.</li>
        
        
        
    </div>
    </div></br>
    
    <div style="border:solid 3px #0b2265; padding: 25px; border-radius: 30px; box-shadow:0 10px 20px rgba(0, 0, 0, 0.6);">
        <div class="container" style="text-align: center; color: #ffb612;"><b class="display-3" style="font-weight: 500;">Página de</b><span style="margin-right: 25px;"></span><b class="display-3" style="font-weight: 500; color: #0b2265;">Inicio</b></div></br>
        <br>
        <div class="display-1" style="font-size: 21px; ">
            <li style="font-size: 22px;"><b style="color: #0b2265; font-weight: bold;">NOTICIAS</b> En la cual se estarán subiendo noticias relevantes como eventos, premiaciones, fotos de los eventos, etc. </li>
        </br>
            <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">CUMPLEAÑOS:</b> Donde esta un gif con los cumpleañeros del mes y lo acompaña un carrusel de imágenes con fotos de los cumpleañeros, estos archivos se actualizan cada mes. </li>
        </br>
            <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">BONO:</b> Con un botón para poder ver tu pre-cálculo de bono (Este es el calculo realizado por los jefes de área, a esto se le deben restar las incidencias).</li>
        </br>
            <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">META DE FACTURACIÓN:</b> Tenemos una gráfica que se actualiza dia con dia en la que vemos la meta de facturación del mes y el total facturado dia con dia.</li>
        </br>
            <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">PEDIDOS EN TIEMPO:</b> Encontramos una grafica donde estan los pedidos entregados en tiempo y los entregados con retraso.</li>
        </br>
            <li style="font-size: 20px;"><b style="color: #0b2265; font-weight: bold;">BANNER:</b> Por último tenemos un banner donde están accesos directos a:</li>
        </br>
            <ol>
                <li><b style="color: #0b2265; font-weight: bold;">Directorio LAZZAR</b> ( Lista con nombre, puesto, correo, número telefónico y extensión).</li>
                <li><b style="color: #0b2265; font-weight: bold;">MI BONO</b> ( El cual te manda directo a ver el pre-cálculo de su bono).</li>
                <li><b style="color: #0b2265; font-weight: bold;">Galería Lazzar</b> ( Este acceso nos lleva a una sección de la intranet en donde se almacenan fotos, videos, gif, etc sobre Lazzar).</li>
                <li><b style="color: #0b2265; font-weight: bold;">Sitio web</b></li>
                <li><b style="color: #0b2265; font-weight: bold;">Estatus Interno</b></li>
                <li><b style="color: #0b2265; font-weight: bold;">Recursos Humanos</b></li>
                <li><b style="color: #0b2265; font-weight: bold;">Línea Ética</b></li>
                <li><b style="color: #0b2265; font-weight: bold;">Redes sociales Lazzar</b></li>
            </ol>
        </div>
        </div>
    </section>
    <section class="container mb-4" style="text-align: center;">
    <div style="border:solid 3px #0b2265; padding: 25px; border-radius: 30px; box-shadow:0 10px 20px rgba(0, 0, 0, 0.6);">
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
              <div class="max-w-2xl">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">CONOCE NUESTRO EQUIPO DE IT</h2>
              </div>
              <div class="mb-3">
                <img class="h-16 w-16" src="{% static 'img/IT LAZZAR.jpg' %}" alt="EQUIPO IT" style="width: 450px; height: 300px; border-radius: 5%;">
              </div><hr class="container">
              <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                <li>
                  <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16" src="{% static 'img/mayer orozco.jpg' %}" alt="MAYER OROZCO" style="width: 150px; height: 150px; border-radius: 50%;">
                    <div>
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">MAYER OROZCO</h3>
                      <p class="text-sm font-semibold leading-6 text-indigo-600">COORDINADOR DE SISTEMAS</p>
                    </div>
                  </div>
                </li>
          
                <li>
                    <div class="flex items-center gap-x-6">
                      <img class="h-16 w-16 rounded-full" src="" alt="">
                      <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">JONATHAN CASTILLO</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">AUXILIAR DE SISTEMAS</p>
                      </div>
                    </div>
                  </li>
    
    <li>
    <div class="flex items-center gap-x-6">
    <img class="h-16 w-16 rounded-full" src="" alt="">
    <div>
    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">OSCAR ZERMEÑO</h3>
    <p class="text-sm font-semibold leading-6 text-indigo-600">AUXILIAR DE SISTEMAS</p>
    </div>
    </div>
    </li>
                  
    <li>
    <div class="flex items-center gap-x-6">
    <img class="h-16 w-16 rounded-full" src="" alt="">
    <div>
    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">JESÚS IBARRA</h3>
    <p class="text-sm font-semibold leading-6 text-indigo-600">DESARROLLADOR JR</p>
    </div>
    </div>
    </li>  
    
    </ul>
    </div>
    </div>
    </section>
    
    
    
    
    
    
    
    
    
    
    
    
    
     <!-- Footer -->
     <footer class="text-center text-white" style="background-color: #0B2265;">
        <!-- Grid container 
        <div class="container p-4">
        
        <section class="">
        
        <div class="row">
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacta con tus compañeros</h5>
        
        <ul class="list-unstyled mb-0">
        <li>
        <a href="{% url 'directorio' %}" class="text-white" style="font-size: 20px;">Directorio Lazzar</a>
        </li>
        </ul>
        </div>
        
        
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <a href="{% url 'recursoshumanos' %}"><h5 class="text-uppercase" style="color: white;">Recursos Humanos</h5></a>
        </div>
        
        
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Recursos para colaboradores</h5>
        
        <ul class="list-unstyled mb-0">
        <li>
        <a href="#!" class="text-white" style="font-size: 20px;">Mi Bono</a>
        </li>
        </ul>
        </div>
        
        
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Portales Lazzar</h5>
        
        <ul class="list-unstyled mb-0">
        <li>
        <a href="https://portal-lazzar.com/inicio" class="text-white" style="font-size: 20px;">Portal Lazzar</a>
        </li>
        </ul>
        </div>
              
       
        </div>
       
    
        </div>-->
        
        
        
        <div class="text-center p-3" style="background-color: #0B2265;">
           
        <a class="text-white" href="https://www.lazzarmexico.com/?gad_source=1&gclid=CjwKCAiA0syqBhBxEiwAeNx9N9qr5NZiQtMzemAF1oxE1KCO3GMdkljiwfnZrojzigeE9L6HeAw61BoCPOMQAvD_BwE" style="font-size: 24px; text-decoration: none;"> ©2024 lazzarmexico.com</a> 
        <a class="text-white" href="{% url 'nosotros' %}" style="text-decoration: none;">- con tecnologia de Lazzar IT</a>
        </div>
        </footer>
    {% endblock %}